/WpfCustomControlLib.Net6/obj/*
/WpfHelperClasses.Net6/bin/*
/WpfCustomControlLib.Net6/bin/*
/WpfHelperClasses.Net6/obj/*
/WpfUserControlLib.Net6/obj/*
/WpfUserControlLib.Net6/bin/*
/.vs/SharedNet6Wpf/v17/.futdcache.v1
